body{
    background-color: #edf1f5;
}
.card {
    margin-bottom: 30px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
    margin-top: 50px;
    padding-bottom: 100px;
}
.card .card-subtitle {
    font-weight: 300;
    margin-top: 10px;
    color: #8898aa;
}
.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa!important
}
.table-product td{
    border-top: 0px solid #dee2e6 !important;
    color: #728299!important;
}
.cardText{
    position: relative;
    right: 350px;
}
.img-responsive{
    position: relative;
    top: 75px;
    width: 200px;
}
.product-details{
    display: flex;
    flex-direction: column;
    align-self: auto;
}
.button-cart{
    margin-top: 15px;
}